@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-white;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px); /* Adjust as needed for downward motion */
  }
}

.hero {
  background-size: 75% 75%;
  animation-name: hero-gradient;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  will-change: transform;
}

:root {
  --one: #08cb83;
  --two: #05e090;
  --three: #6335ec;
}

@keyframes hero-gradient {
  0% {
    background-position: 0 50%;
    clip-path: polygon(
      43.93% 54.77%,
      50.59% 81.57%,
      33.08% 21.61%,
      46.73% 24.79%,
      56.83% 14.98%,
      28.03% 0.38%,
      19.42% 79.98%,
      18.3% 56.36%,
      0.71% 77.85%,
      120.12% 98.81%,
      21.85% 117.65%,
      43.93% 110.49%,
      43.93% 75.73%,
      58.14% 75.73%,
      69.74% 91.38%,
      82.28% 94.3%,
      95% 113.4%,
      122.31% 110.49%,
      117.07% 56.36%,
      135.78% 45.75%,
      172.25% 47.61%,
      50.24% 81.57%,
      20.97% 104.91%,
      202.75% 75.73%,
      20.65% 98.81%,
      211.73% 39.91%,
      190.21% 19.22%,
      169.26% 19.22%,
      145.32% 26.91%,
      115.01% 51.85%,
      95% 47.61%,
      82.28% 89%,
      71.42% 86.08%,
      63.94% 64.85%,
      43.93% 54.77%
    );
  }
  50% {
    background-position: 100% 50%;
    clip-path: polygon(
      83.93% 54.77%,
      75.59% 81.57%,
      50.08% 21.61%,
      60.73% 24.79%,
      56.83% 14.98%,
      40.03% 50.38%,
      19.42% 79.98%,
      20.3% 56.36%,
      5.71% 77.85%,
      12.12% 98.81%,
      21.85% 117.65%,
      43.93% 110.49%,
      43.93% 75.73%,
      58.14% 75.73%,
      69.74% 91.38%,
      82.28% 94.3%,
      95% 113.4%,
      122.31% 110.49%,
      117.07% 56.36%,
      135.78% 45.75%,
      172.25% 47.61%,
      178.24% 81.57%,
      50.97% 104.91%,
      202.75% 75.73%,
      40.65% 98.81%,
      211.73% 39.91%,
      190.21% 19.22%,
      169.26% 19.22%,
      145.32% 26.91%,
      115.01% 51.85%,
      95% 47.61%,
      82.28% 89%,
      71.42% 86.08%,
      63.94% 64.85%,
      33.93% 54.77%
    );
  }
  100% {
    background-position: 0 50%;
    clip-path: polygon(
      20.93% 54.77%,
      159% 81.57%,
      33.08% 21.61%,
      70.73% 24.79%,
      106.83% 14.98%,
      10.03% 0.38%,
      19.42% 79.98%,
      200.3% 56.36%,
      60.71% 77.85%,
      12.12% 98.81%,
      21.85% 117.65%,
      43.93% 110.49%,
      43.93% 75.73%,
      58.14% 75.73%,
      69.74% 91.38%,
      82.28% 94.3%,
      95% 113.4%,
      122.31% 110.49%,
      117.07% 56.36%,
      135.78% 45.75%,
      172.25% 47.61%,
      30.24% 81.57%,
      187.97% 104.91%,
      202.75% 75.73%,
      218.65% 98.81%,
      211.73% 39.91%,
      190.21% 19.22%,
      169.26% 19.22%,
      145.32% 26.91%,
      115.01% 51.85%,
      95% 47.61%,
      82.28% 89%,
      71.42% 86.08%,
      63.94% 64.85%,
      93.93% 54.77%
    );
  }
}
